
# IDE
.vscode/

# ignore model files
test/
save/

# ignore log files
logs/

# ignore cache files
__pycache__/
.__dpc00000000ed89b36c00009425

# ignore output files
output/

test.py

data/

chroma_data/